<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
{{template "navbar" .}}
{{template "notifications" .}}
<header><h1>Compile this form to log in!</h1></header>
<main>
    <div class="container">
        <form method="POST" action="/login">
            <label for="username">Enter your registered username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</main>
<footer><p>Warehouse manager</p></footer>
</body>
</html>