<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<nav>
    {{template "navbar" .}}
    {{template "notifications" .}}
</nav>
<h1>Compile this form to login!</h1>
<form method="POST" action="/login">
    <label for="username">Enter your registered username:</label> <br>
    <input type="text" id="username" name="username" required> <br><br>
    <label for="password">Enter your password:</label> <br>
    <input type="password" id="password" name="password" required> <br><br>
    <button type="submit">Login</button>
</form>
</body>
</html>