{{define "navbar"}}
    {{if .LoggedIn}}
        <nav class="nav-bar">
            <form action="/" method="GET">
                <button>Home</button>
            </form>
            <form action="/items" method="GET">
                <button>Go to items</button>
            </form>
            <form action="/warehouses" method="GET">
                <button>Go to warehouses</button>
            </form>
            <form action="/items/search" method="GET">
                <button>Search for items</button>
            </form>
            <form action="/warehouses/search" method="GET">
                <button>Search for warehouses</button>
            </form>
            <form action="/account" method="GET">
                <button>Change password</button>
            </form>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </nav>
    {{else}}
        <nav class="nav-bar">
            <a href="/">
                <button>Home</button>
            </a>
            <a href="/login">
                <button>Login</button>
            </a>
            <a href="/register">
                <button>Register</button>
            </a>
        </nav>
    {{end}}
{{end}}