<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
{{template "navbar" .}}
{{template "notifications" .}}
<header><h1>Compile this form to sign up!</h1></header>
<main>
    <div class="container">
        <form method="POST" action="/register">
            <label for="newUsername">Enter your new username:</label>
            <input type="text" id="newUsername" name="newUsername" required>
            <label for="newPassword1">Enter your new password:</label>
            <input type="password" id="newPassword1" name="newPassword1" required>
            <label for="newPassword2">Enter the password again:</label>
            <input type="password" id="newPassword2" name="newPassword2" required>
            <button type="submit">Sign up</button>
        </form>
    </div>
</main>
<footer><p>Warehouse manager</p></footer>
</body>
</html>