<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
{{template "navbar" .}}
{{template "notifications" .}}
<header>
    <h1>Manage {{.Warehouse.Name}}</h1>
</header>
<main>
    <div class="container">
        <h2>Edit the information about the warehouse here!</h2>
        <form method="POST" action="/warehouse/{{.Warehouse.ID}}/edit">
            <label for="warehouseName">Name:</label>
            <input type="text" id="warehouseName" name="warehouseName" value="{{.Warehouse.Name}}" required>
            <label for="warehousePosition">Position:</label>
            <input type="text" id="warehousePosition" name="warehousePosition" value="{{.Warehouse.Position}}" required>
            <label for="warehouseCapacity">Capacity:</label>
            <input type="number" id="warehouseCapacity" name="warehouseCapacity" value="{{.Warehouse.Capacity}}"
                   required>
            <button type="submit">Change</button>
        </form>
    </div>
    <div class="container">
        <h2>Access information about the items in the warehouse here!</h2>
        {{if .Items}}
            <div class="grid-single-column">
            {{range .Items}}
                <a href="/item/{{.ID}}">item "{{.Name}}"</a>
            {{end}}
            </div>
        {{else}}
            <p>No items found in warehouse "{{.Warehouse.Name}}"</p>
        {{end}}
    </div>
</main>
<footer><p>Warehouse manager</p></footer>
</body>
</html>