<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouses page</title>
</head>
<body>
<nav>
    {{template "navbar" .}}
    {{template "notifications" .}}
</nav>
<h1>View, create and delete your warehouses here!</h1>
<h2>Delete your warehouses and view their pages here!</h2>
{{range .Content}}
    <a href="/warehouse/{{.ID}}">warehouse "{{.Name}}"</a><br>
    <form action="/warehouse/{{.ID}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
{{else}}
    No warehouses present in repository
{{end}}
<h2>Create new warehouses here!</h2>
<form action="/warehouses" method="POST">
    <label for="warehouseName">Name:</label><br>
    <input type="text" id="warehouseName" name="warehouseName" required> <br><br>
    <label for="warehousePosition">Position:</label><br>
    <input type="text" id="warehousePosition" name="warehousePosition" required>
    <br><br>
    <label for="warehouseCapacity">Capacity:</label><br>
    <input type="number" id="warehouseCapacity" name="warehouseCapacity" required>
    <br><br>
    <button type="submit">Create</button>
</form>
</body>
</html>