<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Warehouse page</title>
</head>
<body>
<nav>
    {{template "navbar" .}}
    {{template "notifications" .}}
</nav>
<header>
    <h1>Manage {{.Warehouse.Name}}</h1>
</header>
<main>
<h2>Edit the information about the warehouse here!</h2>
<form method="POST" action="/warehouse/{{.Warehouse.ID}}/edit">
    <label for="warehouseName">Name:</label><br>
    <input type="text" id="warehouseName" name="warehouseName" value="{{.Warehouse.Name}}" required> <br><br>
    <label for="warehousePosition">Position:</label><br>
    <input type="text" id="warehousePosition" name="warehousePosition" value="{{.Warehouse.Position}}" required>
    <br><br>
    <label for="warehouseCapacity">Capacity:</label><br>
    <input type="number" id="warehouseCapacity" name="warehouseCapacity" value="{{.Warehouse.Capacity}}" required>
    <br><br>
    <button type="submit">Change</button>
</form>
<h2>Access information about the items in the warehouse here!</h2>
{{range .Items}}
    <a href="/item/{{.ID}}">item "{{.Name}}"</a>
{{else}}
    <p>No items found in warehouse "{{.Warehouse.Name}}"</p>
{{end}}
</main>
</body>
</html>