<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
{{template "navbar" .}}
{{template "notifications" .}}
<header><h1>View, create and delete your warehouses here!</h1></header>
<main>
    <div class="container">
        <h2>Delete your warehouses and view their pages here!</h2>
        {{if .Content}}
            <div class="grid-two-columns">
            {{range .Content}}
                    <a href="/warehouse/{{.ID}}"><button class="link-button">warehouse "{{.Name}}"</button></a>
                    <form action="/warehouse/{{.ID}}/delete" method="POST">
                        <button type="submit">Delete</button>
                    </form>
            {{end}}
            </div>
        {{else}}
            <p>No warehouses present in repository</p>
        {{end}}
    </div>
    <div class="container">
        <h2>Create new warehouses here!</h2>
        <form action="/warehouses" method="POST">
            <label for="warehouseName">Name:</label>
            <input type="text" id="warehouseName" name="warehouseName" required>
            <label for="warehousePosition">Position:</label>
            <input type="text" id="warehousePosition" name="warehousePosition" required>
            <label for="warehouseCapacity">Capacity:</label>
            <input type="number" id="warehouseCapacity" name="warehouseCapacity" required>
            <button type="submit">Create</button>
        </form>
    </div>
</main>
<footer><p>Warehouse manager</p></footer>
</body>
</html>